*{
    font-family: "Rimouski";
}

body{
    background-color: #FFF;
}

.container{
    width: 300px;    
    background-color: #FFF;

    float: left;
    margin: top;
    position: relative;
    
    border-radius: 10px;
}

.app-title{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.app-title p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #293251;
}

.notification{
    background-color: #f8d7da;
    display: none;
}

.notification p{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    width: 300px;
    height: 260px;
    background-color: #FFF;
}

.weather-icon{
    width: 300px;
    height: 128px;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
}

.temperature-value{
    width: 300px;
    height:60px;
}

.temperature-value p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.temperature-value p:hover{
    
}

.temperature-value span{
    color: #293251;
    font-size: 0.5em;
}

.temperature-description{
    
}

.temperature-description p{
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
}

.location{
    
}

.location p{
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 0.8em;
}

.menu-container {
  float: left;
}

.menu-title {
    width: 60px;
    height: 30px;
    font-size: 1.2em;
    color: #293251;
    text-align: center;
}

.button {
  display: flex;
  height: 50px;
  padding: 0;
  background: #1696AC;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 5px;
}

.button:hover {
  background: #468E99;
}

.button:active {
  background: #468E99;
}

.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 5px;
  color: #fff;
  height: 100%;
  width: 50px;
  height: 50px;
}

.button__icon {
  font-size: 1.5em;
  background: #1696AC;

}

.button__icon img {
    height: 100%;
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.buttonTwo {
  display: flex;
  height: 50px;
  padding: 0;
  background: #1696AC;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 5px;
}

.buttonTwo:hover {
  background: #468E99;
}

.buttonTwo:active {
  background: #468E99;
}

.button__textTwo,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 33px;
  color: #fff;
  height: 100%;
  width: 50px;
  height: 50px;
}

.button__iconTwo {
  font-size: 1.5em;
  background: #1696AC;
}

.button__iconTwo img {
    height: 100%;
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.buttonThree {
  display: flex;
  height: 50px;
  padding: 0;
  background: #1696AC;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 5px;
}

.buttonThree:hover {
  background: #468E99;
}

.buttonThree:active {
  background: #468E99;
}

.button__textThree,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 28px;
  color: #fff;
  height: 100%;

}

.button__iconThree {
  font-size: 1.5em;
  background: #1696AC;
}

.button__iconThree img {
    height: 100%;
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.buttonFour {
  display: flex;
  height: 50px;
  padding: 0;
  background: #1696AC;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 5px;
}

.buttonFour:hover {
  background: #468E99;
}

.buttonFour:active {
  background: #468E99;
}

.button__textFour,
.button__iconFour {
  display: inline-flex;
  align-items: center;
  padding: 0 15px;
  color: #fff;
  height: 100%;
}

.button__iconFour {
  font-size: 1.5em;
  background: #1696AC;
}

.button__iconFour img {
    height: 100%;
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.ideas-container {
  display: table;

}

.ideas-title {
    width: 300px;
    height: 30px;
    border-radius: 10px 10px 0 0;
    text-align: left;
    font-size: 1.2em;
    color: #293251;
}

#ideabutton1 {
  display: block;
  height: 50px;
  padding: 10;
  background: #1696AC;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-color: #FFF;
  cursor: pointer;
  margin: 5px;
}

#ideabutton2 {
  display: block;
  height: 50px;
  padding: 10;
  background: #1696AC;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 5px;
}

#ideabutton3 {
  display: block;
  height: 50px;
  padding: 10;
  background: #1696AC;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 5px;
}

#ideabutton4 {
  display: block;
  height: 50px;
  padding: 10;
  background: #1696AC;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 5px;
}

#ideabutton5 {
  display: block;
  height: 50px;
  padding: 10;
  background: #1696AC;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 5px;
}

#ideabutton6 {
  display: block;
  height: 50px;
  padding: 10;
  background: #1696AC;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 5px;
}

#ideabutton1 p {
    padding: 0;
    margin: 0;
    color: #FFF;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
}

#ideabutton2 p {
    padding: 0;
    margin: 0;
    color: #FFF;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
}

#ideabutton3 p {
    padding: 0;
    margin: 0;
    color: #FFF;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
}

#ideabutton4 p {
    padding: 0;
    margin: 0;
    color: #FFF;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
}

#ideabutton5 p {
    padding: 0;
    margin: 0;
    color: #FFF;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
}

#ideabutton6 p {
    padding: 0;
    margin: 0;
    color: #FFF;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
}

#ideademo img {
    display: inline flex;
    width: 75%;
}

#ideademo2 img {
    display: block;
    width: 75%;
}

#ideademo3 img {
    display: block;
    width: 75%;
}

#ideademo4 img {
    display: block;
    width: 75%;
}

#ideademo5 img {
    display: block;
    width: 75%;
}

#ideademo6 img {
    display: block;
    width: 75%;
}

.statistics-container img {
    float: left;
    width: 75%;
}